root{
    white-space: normal;
    --status-red:#ec2e2e;
    --status-yellow:#d47705;
    --status-green:#2ab728;
    --status-blue:#2b66af;
    --status-pink:#a828b7;
    --status-white:#888;

    --background: #222;
    --scroll-tumb:#555;
    --text-main: #eee;

    background-color: var(--background);
    color:var(--text-main);
    transition: all .5s ease;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: var(--scroll-tumb);
    border: 1px solid transparent;
}
menumodal{
    position: fixed;
    min-height: 4em;
    min-width: 10em;
    max-height: calc(100vh - 1.4em);
    top: 0px;
    left: 0;
    z-index: 600;
    transition: all .2s ease;
    background-color: #33333300;
    display: flex;
    backdrop-filter: blur(17px);
    border-radius: 4px;
    margin-left: 5em;
    margin-top: 0.7em;
    flex-wrap: wrap;
    max-width: 8em;
    overflow: auto;
}
menumodal[hidden="true"]{
    opacity: 0;
    visibility: hidden;
}
menumodal menuoption{
    display: flex;
    padding: 0.6em;
    justify-content: flex-start;
    width: 100%;
}
menumodal menuoption:hover{
    cursor: pointer;
    background: #bfbfbf17;
}
menumodal menuoption:before{
    content: var(--icon-name);
    font-family: "Material Icons";
    font-size: 1.3em;
    line-height: 0.9em;
    letter-spacing: 0.5em;
}
settingsmodal{
    transition: all .2s ease;
    position: fixed;
    width: 40em;
    background: #aaa;
    height: calc(100vh - 45px);
    display: flex;
    z-index: 500;
    border-radius: 4px;
    margin-left: calc(calc(100% - 40em) / 2);
    backdrop-filter: blur(17px);
    background-color: #33333300;
    border: 2px solid var(--status-white);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    overflow: auto;
    top: 0;
    margin-top: 20px;
    height: calc(100vh - 45px);
}
settingsmodal[hidden="true"]{
    transform: scale(0);
    opacity: 0;
}
imgpickermodal{
    transition: all 0.1s ease;
    position: fixed;
    background: #aaa;
    max-height: calc(100vh - 45px);
    z-index: 500;
    overflow: auto;
    top: 20px;
    border-radius: 4px;
    background-color: #33333300;
    border: 2px solid var(--status-white);
    margin-left: calc(calc(100% - 40em) / 2);
    backdrop-filter: blur(17px);
    width: 40em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
imgpickermodal[hidden="true"]{
    transform: scale(0);
    opacity: 0;
}
imgpickermodal image{
    border-radius: 4px;
    background-size: 81%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    --image-unit: 6.8em;
    width: var(--image-unit);
    height: var(--image-unit);
    transition: all .2s ease;
}
imgpickermodal image:hover{
    background-color: #dedede61;
    cursor: pointer;
}
imgpickermodal image.selected,imgpickermodal image.selected:hover{
    background-color: transparent;
    cursor: default;
    opacity: 0.4;
}
@media only screen and (max-width : 40em)
{
    imgpickermodal{
        margin-left: 10px;
        width: calc(100vw - 25px);
    }
    settingsmodal{
        margin-left: 10px;
        width: calc(100vw - 25px);
    }
}
toolset{
    position: fixed;
    display: flex;
    z-index: 700;
    width: 5em;
    flex-wrap: wrap;
}

.tool{
    padding: 0.6em;
    background: #cccccc00;
    border-radius: 4px;
    display: flex;
    position: relative;
    backdrop-filter: blur(17px);
    margin: 0.5em;
    transition: all .3s ease;
    transform: scale(0);
    opacity: 0;
}
body:hover toolset .tool{
    transform: scale(1);
    opacity: 1;
}
.tool:hover{
    cursor: pointer;
    background-color: #5555558a;
}
body toolset toolunalarm[hidden="true"], body toolset toolpauseall[hidden="true"]{
    display: none;
}
toolmenu{
    left: 0;
}
contextmenu{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 10em;
    top: var(--c-y);
    left: var(--c-x);
    background: #c3c1c100;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    transform: scale(1);
    opacity: 1;
    overflow: hidden;
    transition: all .1s ease;
}
contextmenu[shown="false"]{
    transform: scale(0);
    opacity: 0;
}
contextmenu option,contextmenu contexttitle{
    transition: all .2s ease;
    display: flex;
    width: calc(var(--option-width) - 1.4em);
    padding: 0.5em 0.7em;
    font-size: 94%;
}
contextmenu option:before{
    content: var(--icon-name);
    font-family: "Material Icons";
    font-size: 1.3em;
    line-height: 0.9em;
    letter-spacing: 0.5em;
}
contextmenu option:hover{
    cursor: pointer;
    background: #bfbfbf17;
}
list{
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: grid;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    width: 100%;
    --colummns-number:1;
    --rows-number:1;
    grid-template-columns: repeat(var(--colummns-number), calc(100% / var(--colummns-number)));
    grid-template-rows: repeat(var(--rows-number), calc(100% / var(--rows-number)));
}
row{
    display: flex;
    --row-status:var(--status-white);
    border: 2px solid var(--row-status);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    flex-wrap: wrap;
    box-sizing: border-box;
}
row[size='1Little']{
    grid-column: span 1;
    grid-row: span 1;
}
row[size='2Small']{
    grid-column: span 2;
    grid-row: span 1;
}
row[size='4Middle']{
    grid-column: span 2;
    grid-row: span 2;
}
row[size='6Big']{
    grid-column: span 3;
    grid-row: span 2;
}
row[status='online']{
    --row-status:var(--status-green);
}
row[status='offline'], row[status='error'], row[status='timeout']{
    --row-status:var(--status-red);
}
row[paused='true']{
    --row-status:var(--status-white);
    background-image: repeating-linear-gradient(45deg, var(--row-status) 0, var(--row-status) 2px, transparent 0, transparent 16px);
}
row[paused='true'] status{
    background-color: var(--background);
    border: 2px solid var(--row-status);
}
row[busy='false']{
    border-color: var(--background);
}
row[busy='true']{
    border-color: var(--row-status);
}
row[selected='true'],row[alarmed='true']{
    transform: scale(0.9)
}
row:before{
    width: 1em;
    height: 1em;
    position: absolute;
    font-family: "Material Icons";
    background: var(--background);
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.2em;
    border: 2px solid var( --row-status);
    top: -0.5em;
    left: -0.7em;
    transition: all .2s ease;
    opacity: 0;
    transform: scale(0);
}
row[selected='true']:before{
    content: 'checkmark';
}
row[alarmed='true']:before{
    content: 'notifications_active';
}
row[selected='true']:before,row[alarmed='true']:before{
    opacity: 1;
    transform: scale(1);
}


row col1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    order:1;
}
row[size='4Middle'] col1{
    height: 50%;
}
row[size='6Big'] col1{
    height: 50%;
    width: 33%;
}
row col2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    order:2;
}
row[size='4Middle'] col2{
    height: 50%;
}
row[size='6Big'] col2{
    height: 50%;
    width: 33%;
}
row col3{
    height: 50%;
    display: flex;
    width: 100%;
    order:4;
}
row col3 path{
    stroke: var(--row-status);
    stroke-width: 2px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.2s;
}
row pic{
    height: 60%;
    aspect-ratio: 1;
    background-size: cover; 
}
row[muted='true'] pic:before{
    content: 'notifications_off';
    position: relative;
    background-color: var(--background);
    border-radius: 50%;
    padding: 1em;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Material Icons";
    font-size: 1.3em;
    box-shadow: 0 0 0px 7px var(--background);
    top: calc(50% - 1em - 2px);
    left: calc(50% - 1em - 2px);
    border: 4px solid currentColor;
    box-sizing: border-box;
}
row .name,row .address{
    display: inline;
    width: 100%;
    position: relative;
    background: transparent;
    color: inherit;
    border: none;
    text-align: center;
    font-size: inherit; 
}
row .address{
    opacity: 0.7;
    font-size: 70%;
}
row status{
    text-align: center;
    text-transform: uppercase;
    background: var(--row-status);
    padding: 0.5em 1em;
    border-radius: 3px;
    font-weight: 600;
}
row trio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
row .trioupdate{
    width: 3em;
    background: transparent;
    border: 0;
    color: inherit;
    text-align: center;
    font-size: inherit;
}
row col4{
    order:3;
    width: 33%;
}
/* WIDTH */
@media only screen and (min-width : 320px) and (max-width : 480px)
{
    list{
        --colummns-number:2;
    }
}
/* 709 is for fullhd without fullscreen with top window border */
@media only screen and (min-width : 480px) and (max-width : 709px)
{
    list{
        --colummns-number:3;
    }
}
@media only screen and (min-width : 709px) and (max-width : 1080px)
{
    list{
        --colummns-number:5;
    }
}
@media only screen and (min-width : 1080px) and (max-width : 2160px)
{
    list{
        --colummns-number:7;
    }
}
@media only screen and (min-width : 2160px) and (max-width : 3840px)
{
    list{
        --colummns-number:10;
    }
}

/* HEIGHT */
@media only screen and (min-height : 320px) and (max-height : 480px)
{
    list{
        --rows-number:2;
    }
}
@media only screen and (min-height : 480px) and (max-height : 720px)
{
    list{
        --rows-number:3;
    }
}
@media only screen and (min-height : 720px) and (max-height : 1080px)
{
    list{
        --rows-number:5;
    }
}
@media only screen and (min-height : 1080px) and (max-height : 2160px)
{
    list{
        --rows-number:7;
    }
}
@media only screen and (min-height : 2160px) and (max-height : 3840px)
{
    list{
        --rows-number:10;
    }
}