html{
  --status-red:#ec2e2e;
  --status-yellow:#d47705;
  --status-green:#2ab728;
  --status-blue:#2b66af;
  --status-pink:#a828b7;
  --status-white:#888;
  user-select: none;
  margin-right: 1px;
  height: 99.3vh;
  --background:#222;
  --text-main:#eee;
  --text-second:#ccc;
  --scroll-tumb:#555;
  --row-bg:#2d2c2c;
  --shadow-color:#212020;
}
html.light{
  --stats-white:#c7c7c7;
  --background: #ffffff;
  --text-main: #151515;
  --text-second: #545454;
  --scroll-tumb: #555;
  --row-bg: var(--background);
  --shadow-color: #868686;
}
html.light .row-picture{
  filter: invert(0.8);
}
html.light .row{
  border-color: var(--row-color);
  box-shadow: 0 0 10px 0px  var(--row-color);
}
body{
  margin: 0;
  background: var(--background);
  font-family: sans-serif;
  color: var(--text-main);
  overflow: auto;
  height: 100%;
  display: block;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: var(--scroll-tumb);
  border: 1px solid transparent;
}
.bottom-tools{
  display: flex;
  justify-content: center;
  min-width:641px;
  transition: all .08s ease;
  opacity: 0;
  transform: scale(0.99);
}
body:hover .bottom-tools{
  opacity: 1;
  transform: scale(1);
}
.new-row-btn,.full-screen-btn,.pause-all-btn{
  width: 20%;
  margin: 5pt;
  min-height: 45px;
  background-color: var(--row-bg);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--shadow-color);
  display: flex;
  transition: all 0.1s ease;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  min-width: 180px;
}
.new-row-btn span{
  font-size: 12pt;
  margin-left: 6pt;
}
.full-screen-btn,.pause-all-btn{
  font-size: 12pt;
}
.new-row-btn:hover,.full-screen-btn:hover,.pause-all-btn:hover{
  cursor: pointer;
  box-shadow: 0px 5px 20px var(--shadow-color);
  transform: translate(0px,-1px);
}

.table{
  width: 100%;
}
.table.eco{
  display: flex;
  flex-wrap: wrap;
}
.table.eco .row{
  width: calc(50% - 15px);
  min-height: 140px;
}
/* @media(min-width:1280px){
  .row{
    width: calc(50% - 15px);
    min-height: 140px;
  }
} */
/* one col on small width */
@media(max-width:1280px){
  .table.eco .row{
    width: calc(100% - 15px);
  }
  .row{
    min-width: 641px;
  }
}
/* tree colls */
@media(min-width:2100px){
  .row{
    width: calc(33.38% - 15px);
  }
  .table.eco .row{
    width: calc(33.3% - 15px);
  }
  .row-colimn{
    display: flex;
    flex-wrap: wrap;
  }
}

.table.eco .row-picture{
  height: 61%;
  background-size: 80px;
}
.table.eco .row label{
  font-size: 80%;
}
.table.eco .row label span{
  font-size: 140%;
}
.row{
  --row-time:10s;
  --row-color:var(--status-white);
  min-height: 150px;
  /* min-width: 890px; */
  background-color: var(--row-bg);
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--shadow-color);
  display: flex;
  transition: all 0.1s ease;
  border: 2px solid var(--row-color);
  /* animation: blinking-border var(--row-time) ease infinite; */
}
.row[status='unchecked']{
  --row-color:var(--status-white);
  /* animation-play-state: paused; */
}
.row[status='checking']{
  --row-color:var(--status-yellow);
}
.row[status='online']{
  --row-color:var(--status-green);
}
.row[status='timeout'],.row[status='error'],.row[status='offline']{
  --row-color:var(--status-red);
}
.row.paused{
  filter: grayscale(0.8);
  opacity: 0.8;
  /* animation-play-state: paused; */
}
@media (max-width:600px) {
  .row{
    min-width: 641px;
  }
}
.table.eco .row{
  min-width: 578px;
}
.table.eco .row.superEco{
    width: calc(25% - 15px);
}
.table.eco .row.superEco .row-column:nth-child(4){
  display: none;
}
.table.eco .row.superEco .row-column{
  min-width: 30%;
}
.table.eco .row-column{
  display: flex;
  flex-wrap: wrap;
}
.table.eco .row-column:nth-child(3){
  min-width: 270px;
}

.row-column{
  flex:1;
}
.row-column:nth-child(1){
  max-width: 150px;
  min-width: 90px;
}
.row-column:nth-child(2){
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  min-width: 160px;
}
@media(max-width:970px){
  .row-column:nth-child(2){
    display: flex;
    flex-wrap: wrap;
  }
}
.row-column:nth-child(3){
  flex: 1.3;
  display: flex;
  max-width: 340px;
  min-width: 330px;
}

.row-picture{
  width: 100%;
  height: 72%;
  background-size: 93px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 70%;
  cursor: pointer;
}
.row-name{
  width: 100%;
  justify-content: center;
  display: flex;
  font-variant-caps: all-small-caps;
  font-size: 125%;
  cursor: text;
  overflow: hidden;
}
.row-address{
  width: 100%;
  justify-content: center;
  display: flex;
  overflow: hidden;
  font-size: 90%;
  opacity: 0.6;
  cursor: text;
}
.row-status{
  margin: 5% 7%;
}
.table.eco .row-status{
  margin: 7% 0;
}
.h3 .row{
  height: calc(33vh - 8px);
}
.h3.eco .row{
  height: calc(33vh - 12px);
}
.h4 .row{
  height: calc(25vh - 10px);
}
.h4.eco .row{
  height: calc(25vh - 15px);
}
.h5 .row{
  height: calc(20vh - 15px);
}
.h6 .row{
  height: calc(16.7vh - 15px);
}
.h7 .row{
  height: calc(14.3vh - 14px);
}
.h8 .row{
  height: calc(12.5vh - 14px);
}
.h9 .row{
  height: calc(11.1vh - 14px);
}
.row-ping{
  max-width: 161px;
}
.row-status,.row-ping,.row-connection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.row-status-span{
  background-color: var(--row-color);
  padding: 8pt 13pt;
  font-size: 111%;
  border-radius: 4px;
  font-variant-caps: all-small-caps;
  box-shadow: 0 0 18px 0px var(--shadow-color);
  /* animation: blinking-bg var(--row-time) ease infinite; */
}
html.light .row-status-span{
  box-shadow: 0 0 18px 0px  var(--row-color);
}
.row.paused .row-status-span,.row[status='unchecked'] .row-status-span{
  /* animation-play-state: paused; */
}
.row-ping label,.row-connection label{
  line-height: 150%;
  width: 100%;
  color: var(--text-second);
  font-size: 100%;
  font-variant-caps: all-small-caps;
}
.row-ping label span,.row-connection label span{
  color: var(--text-main);
  font-size: 125%;
  margin-left: 4pt;
  word-spacing: -1px;
}
.row-ping-updatetime{
  cursor: text;
}
.row-name input,.row-address input,.row-ping-updatetime input{
  background-color: transparent;
  text-align: center;
  color: inherit;
  font-size: inherit;
  font-variant-caps:inherit;
  border: 0px solid var(--text-main);
  border-bottom: 1px solid var(--text-main);
  margin: 0;
  padding: 0;
  width: 80%;
  outline: 0;
}
.row-ping-updatetime input{
  width: 20%;
}
.row-column.tools{
  min-width:40px;
  justify-content: flex-end;
  display: flex;
  max-width: 60px;
}
.row-tools{
  opacity: 0;
  transition: all .1s ease;
  width: 40px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  height: calc(100% - 10px);
  padding: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
}
.row:hover > .row-column .row-tools{
  opacity: 1;
}
.row-tool{
  padding: 10px 15px;
  transition: inherit;
}
.row-tool:hover{
  cursor: pointer;
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: 8px;
  transform: translate(-6px,0px);
}
.row{
  border-color: var(--row-color);
  transition: border-color .3s ease;
}
.row.checking{
  border-color: transparent;
}
.row .row-status-span{
  background-color: var(--row-color);
  transition: all .3s ease;
}
.row.checking .row-status-span{
  background-color: transparent;
  box-shadow: 0 0 10px transparent;
}
@media(max-width:924px){
  .row-picture{
    height: 61%;
    background-size: 80px;
  }
  .row label{
    font-size: 80%;
  }
  .row label span{
    font-size: 140%;
  }
}
